.main_chat
  .chat_header
    .group_info
      .group_name
        = @group.name
      .member
        Menber：
        .member_list
          - @group.users.each do |user|
            = user.name
    = link_to 'Edit',  "edit", class: "edit_button"
  
  .MessageField
    
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__contents__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__contents__inputImage' do
          = icon('far', 'image', class: 'Form__contents__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'