.side_bar
  .user_name
    .top_items
      .name
        = current_user.name
      .icons
        .icon_edit
          = link_to '#' do
            = icon('fas', 'edit')
        .icon_cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .group_list
    .group
      .group_name
        techcamp
      .message
        おはよう！
    .group
      .group_name
        techcamp
      .message
        まだメッセージはありません。
    .group
      .group_name
        techcamp
      .message
        まだメッセージはありません。
