.side_bar
  .user_name
    .top_items
      .name
        taro
      .icons
        .icon_edit
          = link_to new_group_path do
            = icon('fas', 'edit')
        .icon_cog
          = icon('fas', 'cog')
  .group_list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group_name
            = group.name
          .message
            メッセージはまだありません